html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding-top: 56px;
}

#education {
    width: 100%;
}

footer {
    flex-shrink: 0;
}

.course-card {
    position: relative;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.course-card:hover {
    transform: scale(1.03);
  }

.course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.course-card:hover .course-image {
    transform: scale(1.05);
  }

.course-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.7) 30%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.1) 80%,
            rgba(0, 0, 0, 0) 100%);
}

.course-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.course-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.course-card {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.course-card:nth-child(1) {
    animation-delay: 0.1s;
}

.course-card:nth-child(2) {
    animation-delay: 0.2s;
}

.course-card:nth-child(3) {
    animation-delay: 0.3s;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    position: relative;
    animation: popup-fadein 0.4s ease;
  }
  
  .popup-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
  }
  
  .close-popup {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .close-popup:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .popup h2, .popup p, .popup a {
    color: black;
  }
  
  @keyframes popup-fadein {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .btn-download:hover {
    background-color: #444;
  }